{% extends 'mailling_list/base.html' %}
{% load static %}
{% load mytags %}
{% block content %}

    <div class="row">
        <div class="col-md-4">
            <h2>{{ client.full_name }}</h2>
            <p class="card-text">{{ client.email }} </p>
            <p class="card-text">{{ client.owner }} </p>
            <p class="card-text">{{ client.comment }} </p>

            <p><a class="btn btn-secondary" href="{% url 'mailling_list:client_detail' pk=client.id %}"
                  role="button">Подробнее &raquo;</a></p>
            <p><a class="btn btn-secondary" href="{% url 'mailling_list:client_update' client.id %}" role="button">Изменить
                &raquo;</a></p>
            <p><a class="btn btn-secondary" href="{% url 'mailling_list:client_delete' client.id %}" role="button">Удалить
                &raquo;</a></p>
        </div>
    </div>
{% endblock %}