% extends 'mailling_list/base.html' %}
{% load static %}
{% load mytags %}
{% block content %}

    <div class="row">
        <div class="col-md-4">
            <h2>{{ mailling_list.status }}</h2>
            <p>class="card-text">{{ mailling_list.client }} </p>
            <p>class="card-text">{{ mailling_list.owner }} </p>
            <p>class="card-text">{{ mailling_list.frequency }} </p>
            <p>class="card-text">{{ mailling_list.mailing_time }} </p>
            <p><a class="btn btn-secondary" href="{% url 'mailling_list:mailling_detail' pk=mailling.id %}"
                  role="button">Подробнее &raquo;</a></p>
            <p><a class="btn btn-secondary" href="{% url 'mailling_list:mailling_update' mailling.id %}" role="button">Изменить
                &raquo;</a></p>
            <p><a class="btn btn-secondary" href="{% url 'mailling_list:mailling_delete' mailling.id %}" role="button">Удалить
                &raquo;</a></p>
        </div>
    </div>
{% endblock %}