{% extends 'mailling_list/base.html' %}
{% load static %}
{% load mytags %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="button">
        <p><a class="btn btn-secondary" href="{% url 'mailling_list:mailling_create' %}" role="button">Создать Рассылку &raquo;</a></p>
    {% else %}
    <div class="button">
        <p><a class="btn disabled" href="{% url 'mailling_list:mailling_create' %}" role="button">Создать Рассылку &raquo;</a></p>
   <div class="container">
    {% endif %}
        <div class="row">
            {% for mailling in mailling_list_list %}
              <div class="col-md-4">
                <h2>{{ mailling.client }}</h2>
                <p class="card-text">{{ mailling.status }} </p>
                <p class="card-text">{{ mailling.owner }} </p>
                <p><a class="btn btn-secondary" href="{% url 'mailling_list:mailling_detail' pk=mailling.id %}" role="button">Подробнее &raquo;</a></p>
                <p><a class="btn btn-secondary" href="{% url 'mailling_list:mailling_update' mailling.id %}" role="button">Изменить &raquo;</a></p>
                <p><a class="btn btn-secondary" href="{% url 'mailling_list:mailling_delete' mailling.id %}" role="button">Удалить &raquo;</a></p>
              </div>
              <div class="col-md-4">
            {% endfor %}
        </div>

        <hr>

      </div> <!-- /container -->

{% endblock %}